@keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .wrapper-documents {
        padding: 30px 40px;
        padding-top: 60px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 1280px;
        margin: 0 auto;

        .item {
            position: relative;
            width: calc(100% - 0px);
            margin-bottom: 30px;
            border-radius: 20px;
            min-height: 300px;
            padding: 30px 10px;
            min-height: 300px;
            border-radius: 20px;
            box-shadow: 10px 20px 13px rgba(black, 0.5);
            z-index: 0;

            &.loading {
                opacity: 0;
                -webkit-animation: 3s ease 0s normal forwards 1 fadein;
                animation: 3s ease 0s normal forwards 1 fadein;

                @for $i from 1 through 4 {
                    // :nth-child(1-9)
                    &:nth-child(#{$i}) {
                        // Delay the animation. Delay increases as items loop.
                        animation-delay: #{$i}ms;
                    }
                }
            }

            &::after {
                content: '';
                background-image: url(../img/doc-bg.jpg);
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }

            .overlay {
                width: 100%;
                border-radius: 20px;
                height: 100%;
                position: absolute;
                top: 0px;
                background-color: #ae8346;
                left: 0;
                z-index: -1;
                transition: top 300ms ease;
            }

            &:hover {
                .overlay {
                    top: 20px;
                }
            }

            .thumbnail {
                width: 70%;
                margin: 0 auto;

                img {
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                }
            }

            .title {
                margin: 10px 0;
                color: white;
                padding: 2px 20px;
                font-size: 14px;
                line-height: 1;
                text-align: center;
            }

            .date {
                margin: 10px 0;
                color: white;
                padding: 2px 20px;
                font-size: 12px;
                text-align: center;
                line-height: 1;
                font-weight: 100;
            }
        }
    }
}

@media screen and (max-width: 1279px) {
    .wrapper-documents {
        padding: 30px 40px;
        padding-top: 60px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 1280px;
        margin: 0 auto;

        .item {
            position: relative;
            width: calc(33% - 30px);
            margin-bottom: 60px;
            border-radius: 20px;
            min-height: 300px;
            padding: 30px 10px;
            margin-right: 40px;
            min-height: 300px;
            border-radius: 20px;
            box-shadow: 10px 20px 13px rgba(black, 0.5);
            z-index: 0;

            &.loading {
                opacity: 0;
                -webkit-animation: 3s ease 0s normal forwards 1 fadein;
                animation: 3s ease 0s normal forwards 1 fadein;

                @for $i from 1 through 4 {
                    // :nth-child(1-9)
                    &:nth-child(#{$i}) {
                        // Delay the animation. Delay increases as items loop.
                        animation-delay: #{$i}ms;
                    }
                }
            }

            &::after {
                content: '';
                background-image: url(../img/doc-bg.jpg);
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            .overlay {
                width: 100%;
                border-radius: 20px;
                height: 100%;
                position: absolute;
                top: 0px;
                background-color: #ae8346;
                left: 0;
                z-index: -1;
                transition: top 300ms ease;
            }

            &:hover {
                .overlay {
                    top: 20px;
                }
            }

            .thumbnail {
                width: 70%;
                margin: 0 auto;

                img {
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                }
            }

            .title {
                margin: 10px 0;
                color: white;
                padding: 2px 20px;
                font-size: 14px;
                line-height: 1;
                text-align: center;
            }

            .date {
                margin: 10px 0;
                color: white;
                padding: 2px 20px;
                font-size: 12px;
                text-align: center;
                line-height: 1;
                font-weight: 100;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .wrapper-documents {
        padding: 30px 40px;
        padding-top: 60px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 1280px;
        margin: 0 auto;

        .item {
            position: relative;
            width: calc(25% - 30px);
            margin-bottom: 60px;
            border-radius: 20px;
            min-height: 300px;
            padding: 30px 10px;
            margin-right: 40px;
            min-height: 300px;
            border-radius: 20px;
            box-shadow: 10px 20px 13px rgba(black, 0.5);
            z-index: 0;

            &.loading {
                opacity: 0;
                -webkit-animation: 3s ease 0s normal forwards 1 fadein;
                animation: 3s ease 0s normal forwards 1 fadein;

                @for $i from 1 through 4 {
                    // :nth-child(1-9)
                    &:nth-child(#{$i}) {
                        // Delay the animation. Delay increases as items loop.
                        animation-delay: #{$i}ms;
                    }
                }
            }

            &::after {
                content: '';
                background-image: url(../img/doc-bg.jpg);
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }

            .overlay {
                width: 100%;
                border-radius: 20px;
                height: 100%;
                position: absolute;
                top: 0px;
                background-color: #ae8346;
                left: 0;
                z-index: -1;
                transition: top 300ms ease;
            }

            &:hover {
                .overlay {
                    top: 20px;
                }
            }

            .thumbnail {
                width: 70%;
                margin: 0 auto;

                img {
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                }
            }

            .title {
                margin: 10px 0;
                color: white;
                padding: 2px 20px;
                font-size: 14px;
                line-height: 1;
                text-align: center;
            }

            .date {
                margin: 10px 0;
                color: white;
                padding: 2px 20px;
                font-size: 12px;
                text-align: center;
                line-height: 1;
                font-weight: 100;
            }
        }
    }
}

#more_posts {
    background-color: #ae8346;
    color: white;
    padding: 5px 30px;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 5px 13px rgba(black, 0.5);
    margin-bottom: 60px;
    transition: background-color 300ms ease;

    &:hover {
        background-color: #0a221e;
    }
}
