@import "variables";

@media screen and (max-width: 899px) {
    .container-map {
        background-image: url(../img/map_bg.jpg);
        background-position: center;
        background-size: cover;

        padding: 60px 20px;

        .subcont-map {
            position: relative;
            .doc {
                width: 100%;
                margin: 0 auto;
                margin-bottom: -60px;
                img {
                    max-width: 500px;
                    width: 100%;
                    margin: 0 auto;
                }
            }
            .title {
                color: white;
                font-size: 40px;
                line-height: 1;
                margin-bottom: 50px;
            }

            .map {
                width: 100%;
                max-width: 900px;
                margin: 20px auto;
                position: relative;
            }
        }
    }
}
@media screen and (min-width: 900px) {
    .container-map {
        background-image: url(../img/map_bg.jpg);
        background-position: center;
        background-size: cover;

        max-height: 900px;
        padding: 60px 30px;

        .subcont-map {
            position: relative;
            .doc {
                bottom: -60px;
                width: 350px;
                left: 0;
                position: absolute;
                img {
                    width: 100%;
                }
            }
            .title {
                color: white;
                font-size: 40px;
                margin-bottom: 30px;
            }

            .map {
                width: 80%;
                max-width: 900px;
                margin-left: auto;
                position: relative;
            }
        }
    }
}

//===================================== MAP =====================================

.tooltip-cont {
    top: 0;
    right: 0;
    position: absolute;
    display: none;
    &.active {
        display: block;
    }
    .line-shape {
        background-color: #fff;
        width: 12px;
        height: 12px;

        border-radius: 50%;
        border: 2px solid grey;

        transform: translate(-110px, -25px);
        position: relative;
        &:before {
            content: "";
            width: 40px;
            height: 2px;
            position: absolute;
            background-color: grey;
            transform: translate(60px, -30px);
        }
        &:after {
            content: "";
            width: 60px;
            height: 2px;
            position: absolute;
            background-color: grey;
            transform: translate(5px, -15px) rotateZ(-30deg);
        }
    }
    .tooltip-title {
        color: white;
        padding: 5px 8px;
        font-size: 12px;
        background-color: $gold;
        border-radius: 0px 10px 0px 10px;
        width: fit-content;
    }

    .tooltip-description {
        font-size: 12px;
        color: white;
        position: relative;
        margin-top: 15px;
        margin-left: 15px;
        line-height: 1;
        max-width: 150px;
        text-shadow: 0 0 10px black;
        &:before {
            content: "";
            position: absolute;
            width: 5px;
            height: 2px;
            background-color: #fff;
            top: -5px;
            left: 0;
        }
    }
}

path {
    transition: fill 300ms;
    fill: white;
    stroke-width: 2px;
    stroke: #103b36;
    &:hover {
        cursor: pointer;
        fill: $gold;
    }
}
