@import "variables";

@media screen and (max-width: 899px) {
    .container-map {
        background-image: url(../img/map_bg.jpg);
        background-position: center;
        background-size: cover;

        padding: 60px 20px;

        .subcont-map {
            position: relative;
            .doc {
                width: 100%;
                margin: 0 auto;
                margin-bottom: -60px;
                img {
                    max-width: 500px;
                    width: 100%;
                    margin: 0 auto;
                }
            }
            .title {
                color: white;
                font-size: 40px;
                line-height: 1;
                margin-bottom: 50px;
            }

            .map {
                width: 100%;
                max-width: 900px;
                margin: 20px auto;
            }
        }
    }
}
@media screen and (min-width: 900px) {
    .container-map {
        background-image: url(../img/map_bg.jpg);
        background-position: center;
        background-size: cover;

        max-height: 900px;
        padding: 60px 30px;

        .subcont-map {
            position: relative;
            .doc {
                bottom: -60px;
                width: 350px;
                left: 0;
                position: absolute;
                img {
                    width: 100%;
                }
            }
            .title {
                color: white;
                font-size: 40px;
                margin-bottom: 30px;
            }

            .map {
                width: 80%;
                max-width: 900px;
                margin-left: auto;
            }
        }
    }
}

//===================================== MAP =====================================

path {
    transition: fill 300ms;
    fill: white;
    stroke-width: 2px;
    stroke: #103b36;
    &:hover {
        cursor: pointer;
        fill: $gold;
    }
}
