@import "variables";

@media screen and (min-width: 0) {
    $dot_size: 12px;
    $vaccine_min_height: 400px;
    $vaccine_max_height: 2000px;
    $vaccine_height: 70vh;
    $overlay_opacity: 0.6;

    .container-vaccine {
        display: block;
        background-image: url(../img/vaccine_bg.jpg);
        background-position: center;
        background-size: cover;
        padding: 60px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .contenedor-tabs{
            position: absolute;
            top: 20px;
            display: flex;
            width: 252px;
            left: 0;
            right: 0;
            margin: 0 auto;
            .tab{
                padding: 2px 7px;
                border: 1px solid #002d26;
                background: transparent;
                color: #002d26;
                font-weight: bold;
                font-size: 12px;
                cursor: pointer;
                transition: all .3s;
                &:hover{
                    background: #002d26;
                    color: white;
                }
                &.active{
                    background: #002d26;
                    color: white;
                }
            }
        }
        .contenedor-contenido-tabs{
            .contenido-tab{
                display: none;
                &.active{
                    display: block;
                }
            }
        }
        .vaccine-content {
            .info-box {
                color: $darkGreen;
                line-height: 1.2;
                width: fit-content;
                max-width: 290px;
                padding: 10px 20px;
                border: 1px solid $gold;
                margin-left: 10.5%;
                margin-bottom: 30px;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: calc(100% - 0.5px);
                    left: 10px;
                    width: 10px;
                    height: 10px;
                    border-style: solid;
                    border-style: solid;
                    border-width: 15px 10px 0px 10px;
                    border-color: $gold #0000 #0000 #0000;
                    position: absolute;
                }
            }

            .img-vaccine {
                margin-bottom: 60px;
                position: relative;
                margin-top: 100px;
                .numbers {
                    position: absolute;
                    top: -70px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: 70px;
                    width: 200px;
                    font-size: 38px;
                    text-align: center;
                    line-height: 1.2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 0 auto;
                    font-weight: bolder;
                    z-index: 9;
                    //color: $gold;
                    color: #ca9658;
                    .datoprincipal{
                        font-weight: bold;
                    }
                    .subtext {
                        font-size: 10px;
                        color: $lightGrey;
                    }
                }
                .numbers-total {
                    position: absolute;
                    top: inherit;
                    bottom: -70px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: 70px;
                    width: 200px;
                    font-size: 38px;
                    text-align: center;
                    line-height: 1.2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 0 auto;
                    font-weight: bolder;
                    z-index: 9;
                    //color: $gold;
                    color: #005b4c;
                    .datoprincipal{
                        font-weight: bold;
                    }
                    .subtext {
                        font-size: 10px;
                        color: #005b4c;
                    }
                }
                .cont-animacion{
                    position: absolute;
                    /*
                    bottom: 11.5%;
                    left: 11.3%;
                    width: 62%;
                    height: 44%;
                    */
                    bottom: 16%;
                    left: 11.3%;
                    width: 62%;
                    height: 68%;
                    //background: $gold;
                    display: flex;
                    justify-content: flex-end;
                    z-index: -1;
                    .cont-contenido{
                        width: 100%;
                        height: 100%;
                        background: $gold;
                        background-image: url(../img/fjeringa.png);
                        transition-delay: 3s;
                        transition:  all 2s ease;
                        position: relative;
                        &.actual{
                            width: 0%;
                        }
                    }
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 900px) {
    $dot_size: 12px;
    $vaccine_min_height: 400px;
    $vaccine_max_height: 2000px;
    $vaccine_height: 70vh;
    $overlay_opacity: 0.6;

    .container-vaccine {
        display: block;
        background-image: url(../img/vaccine_bg.jpg);
        background-position: center;
        background-size: cover;
        padding: 90px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .contenedor-tabs{
            top: 30px;
            right: 20%;
            width: auto;
            left: inherit;
            .tab{
                padding: 2px 15px;
                font-size: 14px;
            }
        }
        .vaccine-content {
            .info-box {
                color: $darkGreen;
                line-height: 1.2;
                width: fit-content;
                max-width: 290px;
                padding: 10px 20px;
                border: 1px solid $gold;
                margin-left: 10.5%;
                margin-bottom: 30px;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: calc(100% - 0.5px);
                    left: 10px;
                    width: 10px;
                    height: 10px;
                    border-style: solid;
                    border-style: solid;
                    border-width: 15px 10px 0px 10px;
                    border-color: $gold #0000 #0000 #0000;
                    position: absolute;
                }
            }

            .img-vaccine {
                margin-bottom: 40px;
                position: relative;
                margin-top: 0;
                .numbers {
                    position: absolute;
                    height: 70px;
                    width: 200px;
                    font-size: 38px;
                    text-align: center;
                    line-height: 1.2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    top: calc(50% - 35px);
                    font-weight: bolder;
                    left: 22%;
                    right: inherit;
                    color: white;
                    //color: $gold;
                    .subtext {
                        font-size: 10px;
                        //color: $lightGrey;
                        color: white;
                    }
                }
                .numbers-total {
                    position: absolute;
                    height: 70px;
                    width: 200px;
                    font-size: 38px;
                    text-align: center;
                    line-height: 1.2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    top: calc(23% - 35px);
                    bottom: inherit;
                    font-weight: bolder;
                    left: inherit;
                    right: -2.5%;
                    color: #005b4c;
                    //color: $gold;
                    .subtext {
                        font-size: 10px;
                        //color: $lightGrey;
                        color: #005b4c;
                    }
                }
                /*
                .cont-animacion{
                    position: absolute;
                    bottom: 21%;
                    left: 11.3%;
                    width: 62%;
                    height: 58%;
                    //background: $gold;
                    display: flex;
                    justify-content: flex-end;
                    z-index: -1;
                    .cont-contenido{
                        width: 100%;
                        height: 100%;
                        background: $gold;
                        background-image: url(../img/fjeringa.png);
                        transition-delay: 3s;
                        transition:  all 2s ease;
                        position: relative;
                        &.actual{
                            width: 82%;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            width: 42px;
                            height: 100%;
                            top: 0;
                            left: -42px;
                            background-image: url(../img/fjeringa.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }
                */
                img {
                    width: 100%;
                }
            }
        }
    }
}
