@import "variables";

.blog-cont {
    padding: 60px;
    .title {
        margin: 0 auto;
        width: fit-content;
        line-height: 3;

        text-transform: uppercase;
        font-weight: bolder;
        color: $lightGrey;
        position: relative;
        &:before {
            content: "";
            width: 15px;
            height: 5px;
            background-color: $gold;
            position: absolute;
            top: 100%;
            left: calc(50% - 7.5px);
        }
    }
}
