@import "fonts";

* {
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    display: block;
    width: auto;
    height: auto;
}

a {
    outline: none;
    text-decoration: none;
}

input,
button {
    outline: none;
}

h1, h2, h3, h4, h5, h6, p, a, span{
    font-family: "Montserrat";
    font-weight: normal;
}

// Arreglando margins y paddings
.site-main > * {
    margin-top: 0;
    margin-bottom: 0;
}

.site-main,
.widget-area,
.site-footer {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

// Containers Aux
.contenedor-wrapper {
    width: 100%;
    max-width: 955px;
    margin: 0 auto;
}
#content {
    padding-top: 74px;
}