@import "variables";
@media screen and (min-width: 0) {
    // Variables
    $dot_size: 12px;
    $carousel_min_height: 300px;
    $carousel_max_height: 600px;
    $carousel_height: 50vh;
    $overlay_opacity: 0.6;
    .container-news {
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        .overlay {
            background-size: cover !important;
            background-position: center !important;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: $overlay_opacity;
        }

        .column:nth-child(1) {
            .grid-news-carousel {
                position: relative;

                overflow: hidden;
                .item {
                    background-color: black;
                    min-height: $carousel_min_height;
                    max-height: $carousel_max_height;
                    height: $carousel_height;
                    padding: 20px;
                    position: relative;
                    display: flex;
                    color: white;

                    .seemore {
                        position: absolute;
                        font-size: 16px;
                        padding: 5px;
                        bottom: 10px;
                        right: 10px;
                        z-index: 2;
                        a {
                            position: relative;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span {
                                margin: 0 3px;
                                img {
                                    height: 25px;
                                    width: auto;
                                }
                            }
                        }
                    }

                    .content {
                        justify-content: flex-start;
                        align-self: flex-end;
                        margin-bottom: 20px;
                        position: relative;
                        z-index: 2;

                        .title {
                            line-height: 1;
                            margin-bottom: 30px;
                            width: 90%;
                            max-width: 700px;
                            position: relative;

                            h3 {
                                font-weight: 800;
                            }
                        }

                        .excerpt {
                            line-height: 1.2;
                            width: 90%;
                            max-width: 700px;
                            margin: 20px 0;
                            font-size: 20px;
                            letter-spacing: 1px;
                        }
                    }
                }

                .owl-dots {
                    position: relative;
                    height: 30px;
                    width: fit-content;
                    margin: 0 auto;
                    margin-top: -30px;

                    button {
                        span {
                            background-color: transparent;
                            border: 1px solid white;
                            width: $dot_size;
                            height: $dot_size;
                        }

                        &.active {
                            span {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .column:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .row-item {
                min-height: $carousel_min_height;
                max-height: $carousel_max_height;
                height: $carousel_height;
                background-color: black;
                height: 100%;
                width: 100%;
                position: relative;
                display: flex;

                .content {
                    padding: 20px;
                    width: 100%;
                    align-self: flex-end;
                    position: relative;
                    z-index: 1;
                    color: white;
                    .title {
                        line-height: 1;
                        margin-bottom: 5px;
                        width: 95%;
                        max-width: 700px;
                        position: relative;

                        h3 {
                            font-weight: 800;
                        }
                    }
                }

                .seemore {
                    position: absolute;
                    font-size: 16px;
                    padding: 5px;
                    bottom: 20px;
                    right: 10px;
                    z-index: 2;
                    a {
                        position: relative;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            margin: 0 3px;
                            img {
                                height: 40px;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 900px) {
    // Variables
    $dot_size: 12px;
    $carousel_min_height: 400px;
    $carousel_max_height: 2000px;
    $carousel_height: 70vh;
    $overlay_opacity: 0.6;
    .container-news {
        margin-top: 0 !important;
        height: $carousel_height;
        min-height: $carousel_min_height;
        max-height: $carousel_max_height;

        background-color: grey;
        display: flex;
        align-items: stretch;
        flex-direction: row;
        justify-content: center;
        .column {
            width: 50%;
        }

        .overlay {
            background-size: cover !important;
            background-position: center !important;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: $overlay_opacity;
        }

        .column:nth-child(1) {
            .grid-news-carousel {
                position: relative;
                .item {
                    background-color: black;
                    min-height: $carousel_min_height;
                    max-height: $carousel_max_height;
                    height: $carousel_height;
                    padding: 20px;
                    position: relative;
                    display: flex;
                    color: white;

                    .overlay {
                        transition: filter 400ms ease;
                    }

                    &:hover {
                        .overlay {
                            filter: grayscale(1);
                        }

                        .content {
                            .content-note {
                                max-height: 100px;
                                opacity: 1;
                                &:before {
                                    width: 10px;
                                }
                            }
                        }
                    }
                    .seemore {
                        position: absolute;
                        font-size: 16px;
                        padding: 5px;
                        bottom: 10px;
                        right: 10px;
                        z-index: 2;
                        transition: all 400ms ease;
                        &:hover {
                            background-color: $gold;
                        }
                        a {
                            position: relative;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span {
                                margin: 0 3px;
                                img {
                                    height: 25px;
                                    width: auto;
                                }
                            }
                        }
                    }

                    .content {
                        justify-content: flex-start;
                        align-self: flex-end;
                        margin-bottom: 20px;
                        position: relative;
                        z-index: 2;

                        .title {
                            line-height: 1;
                            width: 90%;
                            max-width: 700px;
                            position: relative;
                            transition: all .4s ease;
                            margin-bottom: 10px;
                            h3 {
                                font-weight: 800;
                            }
                        }
                        .content-note {
                            line-height: 1;
                            position: relative;
                            padding-top: 15px;
                            transition: all .4s ease;
                            max-height: 0;
                            margin-bottom: 10px;
                            overflow: hidden;
                            width: 90%;
                            opacity: 0;
                            p {
                                margin: 0;
                            }
                            .date {
                                font-size: 14px;
                                margin-top: 10px;
                            }
                            .excerpt {
                                line-height: 1.2;
                                width: 100%;
                                max-width: 700px;
                                margin: 10px 0;
                                font-size: 20px;
                                letter-spacing: 1px;
                            }
                            &::before {
                                content: "";
                                width: 0;
                                height: 5px;
                                background-color: #fff;
                                position: absolute;
                                top: 0px;
                                left: 0;
                                transition: width .4s ease;
                            }
                        }
                    }
                }

                .owl-dots {
                    height: 35px;
                    width: fit-content;
                    margin: 0 auto;
                    position: relative;
                    margin-top: -35px;
                    button {
                        span {
                            background-color: transparent;
                            border: 1px solid white;
                            width: $dot_size;
                            height: $dot_size;
                        }

                        &.active {
                            span {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .column:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .row-item {
                background-color: black;
                height: $carousel_height/2;
                min-height: 100px;

                position: relative;
                display: flex;
                .overlay {
                    transition: filter 400ms ease;
                }

                &:hover {
                    .overlay {
                        filter: grayscale(1);
                    }
                    .content {
                        .content-note {
                            margin-bottom: 0;
                            max-height: 100px;
                            opacity: 1;
                            &:before {
                                width: 10px;
                            }
                        }
                    }
                }
                .content {
                    padding: 20px;
                    width: 100%;
                    align-self: flex-end;
                    position: relative;
                    z-index: 1;
                    color: white;
                    .title {
                        line-height: 1;
                        margin-bottom: 5px;
                        width: 90%;
                        max-width: 700px;
                        position: relative;

                        h3 {
                            font-weight: 800;
                        }
                    }

                    .content-note {
                        line-height: 1;
                        position: relative;
                        padding-top: 15px;
                        transition: all .4s ease;
                        max-height: 0;
                        overflow: hidden;
                        width: 90%;
                        opacity: 0;
                        p {
                            margin: 0;
                        }
                        .date {
                            font-size: 14px;
                            margin-top: 10px;
                        }
                        .excerpt {
                            line-height: 1.2;
                            width: 100%;
                            max-width: 700px;
                            margin: 10px 0;
                            font-size: 20px;
                            letter-spacing: 1px;
                        }
                        &::before {
                            content: "";
                            width: 0;
                            height: 5px;
                            background-color: #fff;
                            position: absolute;
                            top: 0px;
                            left: 0;
                            transition: width 400ms ease;
                        }
                    }
                }

                .seemore {
                    position: absolute;
                    font-size: 16px;
                    padding: 5px;
                    bottom: 20px;
                    right: 10px;
                    z-index: 2;
                    transition: all .4s ease;
                    &:hover {
                        background-color: $gold;
                    }
                    a {
                        position: relative;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            margin: 0 3px;
                            img {
                                height: 40px;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
