header {
    padding: 15px 0;
    background: #0a221e;
    border-bottom: 5px solid #bc945b;
    position: fixed;
    z-index: 100;
    width: 100%;

    .contenedor-header {
        width: 100%;
        max-width: 955px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .contenedor-logo {
            img {
                width: auto;
                height: 25px;
            }
        }

        .contenedor-menu {
            width: 100%;

            ul {
                padding: 0 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;

                li {
                    padding: 0 12px;
                    max-width: 135px;
                    font-size: 11px;
                    line-height: 12px;
                    text-align: center;
                    position: relative;
                    height: 39px;
                    display: flex;
                    align-items: center;

                    a {
                        color: white;
                        transition: all 0.3s;

                        &:hover {
                            color: #bc945b;
                        }

                        &:focus {
                            background: transparent !important;
                            color: #bc945b !important;
                            outline: none !important;
                            text-decoration: none !important;
                        }
                    }

                    &.current-menu-item {
                        a {
                            font-weight: 600;
                            color: #bc945b;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -15px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width: 30px;
                            height: 4px;
                            background: #015c4d;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }

    .contenedor-movil {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    header {
        .contenedor-header {
            width: 90%;

            .contenedor-menu {
                display: none;
            }

            .cont-burguer {
                .burguer {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    z-index: 1000;
                    cursor: pointer;

                    span {
                        width: 90%;
                        height: 2px;
                        margin: 4px 2px;
                        background-color: #fff;
                        transition: transform 400ms ease;
                    }

                    &.active {
                        span {
                            &:nth-child(1) {
                                transform: rotateZ(45deg) translate(4px, 4px);
                            }

                            &:nth-child(2) {
                                transform: rotateZ(-45deg) translate(3px, -3px);
                            }
                        }
                    }
                }
            }
        }

        .contenedor-movil {
            display: block;
            position: fixed;
            background: #0a221e;
            bottom: 0;
            right: -100%;
            width: 100%;
            min-height: calc(100vh - 70px);
            z-index: 9;
            padding-top: 50px;
            transition: right 600ms ease;

            .contenedor-menu {
                ul {
                    padding: 0 30px;
                    list-style: none;

                    li {
                        padding: 0 12px;
                        font-size: 14px;
                        line-height: 20px;

                        a {
                            color: white;
                            transition: all 0.3s;

                            &:hover {
                                color: #bc945b;
                            }

                            &:focus {
                                background: transparent !important;
                                color: #bc945b !important;
                                outline: none !important;
                                text-decoration: none !important;
                            }

                            br {
                                display: none;
                            }
                        }

                        &.active {
                            a {
                                font-weight: 600;
                                color: #bc945b;
                            }
                        }
                    }
                }
            }

            &.active {
                right: 0;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        .contenedor-movil {
            max-width: 300px;

            .contenedor-menu {
                ul {
                    padding: 0 30px;
                    list-style: none;

                    li {
                        padding: 0 12px;
                        font-size: 14px;
                        line-height: 20px;

                        a {
                            color: white;
                            transition: all 0.3s;

                            &:hover {
                                color: #bc945b;
                            }
                        }

                        &.active {
                            a {
                                font-weight: 600;
                                color: #bc945b;
                            }
                        }
                    }
                }
            }

            .contenedor-movil {
                transition: right 2000ms linear;
            }
        }
    }
}
