.contenedor-wrapper {
    max-width: 1015px;
    padding: 0 30px;
}

.contenedor-general-banner {
    height: 250px;
    width: 100%;
    background: #002a5b;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 !important;
    .cont-contenido-page {
        width: 63%;
        h1 {
            color: white;
            margin: 0;
            text-transform: uppercase;
            font-family: 'GMX';
            font-size: 44px;
            line-height: 46px;
            position: relative;
        }
    }
}

.contenedor-general-page{
    margin: 0 !important;
    padding: 35px 0 100px;
    background-image: url(../img/bg-page.jpg);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;

    h2{
        font-size: 26px;
        line-height: 30px;
        font-weight: 600;
        position: relative;
        color: #0a221e;
        margin-bottom: 20px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 35px;
            height: 2px;
            background: #ca9658;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 40px;
            width: 10px;
            height: 2px;
            background: #ca9658;
        }
    }

    p{
        font-size: 18px;
        line-height: 20px;
        margin: 20px 0;
    }

    ul{
        padding-left: 20px;
        li{
            font-size: 18px;
            line-height: 20px;
            font-weight: 600;
            color: #c7a676;
        }
    }


    .kt-tabs-title-list{
        justify-content: flex-start !important;
        li{
            border: 1px solid #b8b8b8;
            border-radius: 0 !important;
            margin: 0 !important;
            a{
                color: #ba1c40 !important;
                border: 0 !important;
                font-size: 18px !important;
                line-height: 20px !important;
                border-radius: 0 !important;
            }
            &.kt-tab-title-active{
                a{
                    background:#ba1c40 !important;
                    color: white !important;
                    span{
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .kt-tabs-content-wrap{
        .wp-block-kadence-tab{
            padding: 50px 0 20px 0;
            background: transparent !important;
            .uagb-faq-item{
                border: 0;
                border-bottom: 1px solid #b8b8b8;
                padding: 20px;
                background: transparent;
                outline: none;
                transition: all .3s;
                .uagb-faq-questions{
                    padding: 0 !important;
                    .uagb-question{
                        color: #ca9658;
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 24px;
                    }
                    .uagb-faq-icon-wrap{
                        display: none;
                    }
                    .fl{
                        width: 20px;
                        transform: rotate(90deg);
                        opacity: .5;
                        transition: all .3s;
                    }
                }
                .uagb-faq-content{
                    span{
                        margin: 10px 0;
                        p{
                            color: white;
                            font-size: 18px;
                            line-height: 20px;
                        }
                    }
                }
                &.uagb-faq-item-active{
                    background: #005b4c;
                    .uagb-faq-questions{
                        .uagb-question{
                            color: #e5caa3;
                        }
                        .fl{
                            transform: rotate(270deg);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 767px){

    .contenedor-general-banner {
        .cont-contenido-page {
            width: 100%;
            h1 {
                font-size: 34px;
                line-height: 36px;
            }
        }
    }

    .contenedor-general-page{
        background-image: unset;
        .kt-tabs-title-list{
            li{
                width: 100%;
                a{
                    text-align: center;
                    span{
                        width: 100%;
                    }
                }
            }
        }
        .kt-tabs-content-wrap{
            .wp-block-kadence-tab{
                .uagb-faq-item{
                    padding: 10px;
                    .uagb-faq-questions{
                        justify-content: space-between;
                        .uagb-question{
                            width: 75%;
                        }
                    }
                }
            }
        }
    }

}