@media screen and (max-width: 899px) {
  .container-map {
    background-image: url(../img/map_bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 60px 20px;
  }
  .container-map .subcont-map {
    position: relative;
  }
  .container-map .subcont-map .controls {
    position: absolute;
    left: calc(100% - 20px);
    top: 0;
  }
  .container-map .subcont-map .controls button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #ca9658;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 3px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    border: none;
    line-height: 1;
    font-size: 16px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-map .subcont-map .doc {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -60px;
  }
  .container-map .subcont-map .doc img {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  .container-map .subcont-map .title {
    color: white;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 50px;
  }
  .container-map .subcont-map .map {
    border: 2px solid transparent;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    position: relative;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    margin-right: 30px;
  }
  .container-map .subcont-map .map.zoomedIn {
    border: 2px solid #ca9658;
  }
}

@media screen and (min-width: 900px) {
  .container-map {
    background-image: url(../img/map_bg.jpg);
    background-position: center;
    background-size: cover;
    max-height: 900px;
    padding: 60px 30px;
    position: relative;
  }
  .container-map .subcont-map {
    position: relative;
    padding-bottom: 200px;
  }
  .container-map .subcont-map .controls {
    position: absolute;
    left: calc(100% - 20px);
    top: calc(100% - 250px);
  }
  .container-map .subcont-map .controls button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #ca9658;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 3px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    border: none;
    line-height: 1;
    font-size: 16px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-map .subcont-map .doc {
    bottom: -35px;
    width: 450px;
    left: 0;
    position: absolute;
  }
  .container-map .subcont-map .doc img {
    width: 100%;
  }
  .container-map .subcont-map .title {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    line-height: 2;
    font-weight: 600;
  }
  .container-map .subcont-map .title .line-shape {
    position: relative;
    width: 50px;
    height: 2.5px;
    background-color: #ca9658;
  }
  .container-map .subcont-map .title .line-shape:before {
    content: "";
    top: 0%;
    right: -20px;
    width: 10px;
    height: 2.5px;
    position: absolute;
    background-color: #ca9658;
  }
  .container-map .subcont-map .map {
    border: 2px solid transparent;
    overflow: hidden;
    width: 80%;
    max-width: 900px;
    margin-left: auto;
    position: relative;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    margin-right: 30px;
  }
  .container-map .subcont-map .map.zoomedIn {
    border: 2px solid #ca9658;
  }
  .container-map .subcont-map .map svg {
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
}

.tooltip-cont {
  top: 200px;
  left: 200px;
  position: fixed;
  z-index: 3;
  display: none;
  opacity: 0;
}

.tooltip-cont.active {
  display: block;
  opacity: 1;
}

.tooltip-cont .line-shape {
  background-color: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid grey;
  -webkit-transform: translate(-110px, -50px);
          transform: translate(-110px, -50px);
  position: relative;
}

.tooltip-cont .line-shape:before {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background-color: grey;
  -webkit-transform: translate(60px, -30px);
          transform: translate(60px, -30px);
}

.tooltip-cont .line-shape:after {
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  background-color: grey;
  -webkit-transform: translate(5px, -15px) rotateZ(-30deg);
          transform: translate(5px, -15px) rotateZ(-30deg);
}

.tooltip-cont .tooltip-title {
  color: white;
  padding: 5px 8px;
  font-size: 16px;
  background-color: #ca9658;
  border-radius: 0px 10px 0px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.tooltip-cont .tooltip-description {
  font-size: 14px;
  color: white;
  position: relative;
  margin-top: 15px;
  margin-left: 15px;
  line-height: 1;
  max-width: 150px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  background-color: #005b4c;
}

.tooltip-cont .tooltip-description:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0px 1px #005b4c;
          box-shadow: 0 0 0px 1px #005b4c;
  top: -7px;
  left: 5px;
}

path {
  -webkit-transition: fill 300ms;
  transition: fill 300ms;
  fill: white;
  stroke-width: 2px;
  stroke: #103b36;
}

path:hover {
  cursor: pointer;
  fill: #ca9658;
}
