.container-vaccine {
  display: block;
  background-image: url(../img/vaccine_bg.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-vaccine .vaccine-content .info-box {
  color: #005b4c;
  line-height: 1;
  width: 300px;
  padding: 10px;
  border: 1px solid #ca9658;
}

.container-vaccine .vaccine-content .img-vaccine img {
  width: 100%;
}
