.contenedor-general-etapasvacunacion {
  background-image: url(../img/background-etapasvacunacion.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion {
  margin: 0 auto;
  position: relative;
  top: -85px;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-enc {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-enc .cont-enc {
  width: 295px;
  padding: 20px 0;
  background: white;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0px -2px 10px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px -2px 10px -8px rgba(0, 0, 0, 0.3);
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-enc .cont-enc h2 {
  font-size: 24px;
  line-height: 24px;
  color: gray;
  margin: 0;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-enc .cont-enc h2:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 30px;
  width: 30px;
  height: 2px;
  background: #ca9658;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-enc .cont-enc h2:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 65px;
  width: 8px;
  height: 2px;
  background: #ca9658;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  border-radius: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema {
  width: 85%;
  margin: 0 auto;
  padding: 45px 0;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .cont-item {
  position: relative;
  margin-right: 5px;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .cont-item img {
  width: 155px;
  -webkit-filter: contrast(0) opacity(0.6);
          filter: contrast(0) opacity(0.6);
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .cont-item .cont-info {
  position: absolute;
  width: 135px;
  height: 48px;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .cont-item .cont-info p {
  font-size: 14px;
  line-height: 14px;
  color: white;
  margin: 0;
  font-weight: 600;
  text-align: center;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .cont-item .cont-index {
  position: absolute;
  width: 49px;
  height: 49px;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .cont-item .cont-index p {
  font-size: 30px;
  line-height: 30px;
  color: white;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .cont-item .contenedor-info {
  position: absolute;
  min-height: 160px;
  bottom: -205px;
  padding-top: 35px;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .cont-item .contenedor-info h4 {
  font-size: 14px;
  line-height: 14px;
  color: #015c4d;
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  position: relative;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .cont-item .contenedor-info h4:after {
  content: "";
  position: absolute;
  bottom: -7.5px;
  left: 0;
  width: 5px;
  height: 2px;
  background: #015c4d;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .cont-item .contenedor-info p {
  font-size: 14px;
  line-height: 14px;
  color: #706f6f;
  margin: 0;
  font-weight: 600;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .cont-item.active img {
  -webkit-filter: contrast(1);
          filter: contrast(1);
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .owl-stage-outer {
  overflow: visible;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .owl-item.active {
  opacity: 1;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .owl-nav {
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .owl-nav button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .owl-nav button img {
  width: 13px;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .owl-nav button:hover {
  background: transparent;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .owl-nav button:hover img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .owl-nav button.disabled {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  opacity: 1;
}

.contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-esquema .cont-esquema .owl-nav button.disabled img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion {
    width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion {
    top: -60px;
    width: 80%;
  }
  .contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-enc .cont-enc {
    width: 200px;
    padding: 15px 0;
  }
  .contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-enc .cont-enc h2 {
    font-size: 17px;
    line-height: 17px;
  }
  .contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-enc .cont-enc h2:before {
    content: "";
    left: 15px;
  }
  .contenedor-general-etapasvacunacion .contenedor-etapas-vacunacion .contenedor-enc .cont-enc h2:after {
    left: 50px;
  }
}
