.contenedor-wrapper {
  max-width: 1015px;
  padding: 0 30px;
}

.contenedor-general-banner {
  height: 250px;
  width: 100%;
  background: #002a5b;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 !important;
}

.contenedor-general-banner .cont-contenido-page {
  width: 63%;
}

.contenedor-general-banner .cont-contenido-page h1 {
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-family: 'GMX';
  font-size: 44px;
  line-height: 46px;
  position: relative;
}

.contenedor-general-page {
  margin: 0 !important;
  padding: 35px 0 100px;
  background-image: url(../img/bg-page3.jpg);
  background-position: top right;
  background-size: 373px 800px;
  background-repeat: no-repeat;
}

.contenedor-general-page h1 {
  font-family: 'GMX';
  font-size: 46px;
  line-height: 50px;
  color: #bc955c;
  margin: 0;
  margin-bottom: 20px;
}

.contenedor-general-page h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  position: relative;
  color: #0a221e;
  margin-bottom: 20px;
  position: relative;
}

.contenedor-general-page h2:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 35px;
  height: 2px;
  background: #ca9658;
}

.contenedor-general-page h2:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40px;
  width: 10px;
  height: 2px;
  background: #ca9658;
}

.contenedor-general-page h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
  color: #245c4f;
  margin-bottom: 20px;
}

.contenedor-general-page p {
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0;
  color: #272727;
}

.contenedor-general-page ul {
  padding-left: 20px;
}

.contenedor-general-page ul li {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #c7a676;
}

.contenedor-general-page .blocks-gallery-grid {
  padding-left: 0;
}

.contenedor-general-page .s-margin {
  margin-bottom: 0;
}

.contenedor-general-page .m-l-special {
  margin-left: 5px;
}

.contenedor-general-page .kt-tabs-title-list {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.contenedor-general-page .kt-tabs-title-list li {
  border: 1px solid #b8b8b8;
  border-radius: 0 !important;
  margin: 0 !important;
}

.contenedor-general-page .kt-tabs-title-list li a {
  color: #ba1c40 !important;
  border: 0 !important;
  font-size: 18px !important;
  line-height: 20px !important;
  border-radius: 0 !important;
}

.contenedor-general-page .kt-tabs-title-list li.kt-tab-title-active a {
  background: #ba1c40 !important;
  color: white !important;
}

.contenedor-general-page .kt-tabs-title-list li.kt-tab-title-active a span {
  font-weight: bold;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab {
  padding: 50px 0 20px 0;
  background: transparent !important;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item {
  border: 0;
  border-bottom: 1px solid #b8b8b8;
  padding: 20px;
  background: transparent;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item .uagb-faq-questions {
  padding: 0 !important;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item .uagb-faq-questions .uagb-question {
  color: #ca9658;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item .uagb-faq-questions .uagb-faq-icon-wrap {
  display: none;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item .uagb-faq-questions .fl {
  width: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: .5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item .uagb-faq-content span {
  margin: 10px 0;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item .uagb-faq-content span p {
  color: white;
  font-size: 18px;
  line-height: 20px;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item .uagb-faq-content ul li, .contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item .uagb-faq-content ol li {
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item.uagb-faq-item-active {
  background: #005b4c;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item.uagb-faq-item-active .uagb-faq-questions .uagb-question {
  color: #e5caa3;
}

.contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item.uagb-faq-item-active .uagb-faq-questions .fl {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  opacity: 1;
}

.contenedor-general-page .a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-page .a-center .uagb-columns__inner-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-page.contenedor-singlepage {
  background-image: none;
}

.contenedor-general-page.contenedor-singlepage p {
  color: #6f7271;
}

.contenedor-general-page.contenedor-singlepage .contenedor-enc-singlepage {
  padding: 20px 0 40px;
  position: relative;
  margin-bottom: 50px;
}

.contenedor-general-page.contenedor-singlepage .contenedor-enc-singlepage h1 {
  margin-bottom: 0;
}

.contenedor-general-page.contenedor-singlepage .contenedor-enc-singlepage::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 170px;
  height: 3px;
  background: #98989a;
  border-radius: 10px;
}

.contenedor-general-page.contenedor-singlepage .fecha {
  color: #9f2241;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
}

.contenedor-general-page.contenedor-singlepage .fecha::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 8px;
  height: 2px;
  background: #98989a;
  border-radius: 10px;
}

.contenedor-general-page.contenedor-general-fullwidth {
  background-image: none;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .contenedor-general-banner .cont-contenido-page {
    width: 100%;
  }
  .contenedor-general-banner .cont-contenido-page h1 {
    font-size: 34px;
    line-height: 36px;
  }
  .contenedor-general-page {
    background-image: unset;
  }
  .contenedor-general-page h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .contenedor-general-page .kt-tabs-title-list li {
    width: 100%;
  }
  .contenedor-general-page .kt-tabs-title-list li a {
    text-align: center;
  }
  .contenedor-general-page .kt-tabs-title-list li a span {
    width: 100%;
  }
  .contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item {
    padding: 10px;
  }
  .contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item .uagb-faq-questions {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contenedor-general-page .kt-tabs-content-wrap .wp-block-kadence-tab .uagb-faq-item .uagb-faq-questions .uagb-question {
    width: 75%;
  }
}
