.table-cont {
  background-color: #f8f8f8;
  padding: 60px 15px;
  margin-top: 0 !important;
}

.table-cont .table-sub-cont {
  overflow-x: auto;
  width: 100%;
  padding: 0;
}

.table-cont .table-sub-cont .title {
  font-weight: bold;
  text-align: center;
  color: #ba1c40;
  font-size: 26px;
  line-height: 1.2;
}

.table-cont .table-sub-cont .desc {
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px 0;
  text-align: center;
  color: #ba1c40;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
}

.table-cont .table-sub-cont .desc-small {
  color: #1d1d1d;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
}

.vaccines {
  margin: 10px 0;
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}

.vaccines,
.vaccines th,
.vaccines tr,
.vaccines td {
  border: none;
  padding: 10px 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  font-size: 16px;
}

.head-data {
  font-family: "Montserrat";
}

.head-data td {
  font-weight: bold;
  line-height: 1;
  font-size: 20px;
  padding: 15px 5px;
}

.head-data td:not(:nth-child(1)) {
  color: #ba1c40;
}

.head-data td:first-child {
  font-size: 24px;
}

td {
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  height: 10px;
  color: #6e7372;
}

td:first-child {
  text-align: left;
  color: #1d1d1d;
}

td:last-child {
  text-align: right;
}

.header-data,
.header-data_min,
.footer-table {
  background-color: #ba1c40;
}

.header-data td,
.header-data th,
.header-data_min td,
.header-data_min th,
.footer-table td,
.footer-table th {
  font-weight: 600;
  font-style: normal;
  color: white;
}

.header-data,
.header-data th {
  padding: 5px 5px;
  font-size: 26px;
  line-height: 1.3;
  padding-right: 10px;
}

.footer-table td:first-child {
  text-align: left;
  text-indent: 20px;
  font-size: 22px;
  font-weight: 600;
}

.border-right {
  position: relative;
}

.border-right:before {
  content: "";
  height: 70%;
  position: absolute;
  right: 0;
  width: 1px;
  top: 15%;
  background-color: white;
}

.vaccines_alt th {
  width: 14.5%;
}

.vaccines_alt td {
  font-size: 14px;
  width: 14.5%;
}

.vaccines_alt td:first-child, .vaccines_alt td:last-child {
  text-align: center;
}

.vaccines_alt td:first-child {
  color: #6e7372;
  font-weight: normal;
  font-size: 12px;
}

.vaccines_alt td:first-child strong {
  font-size: 16px;
  color: black;
  margin-bottom: 2px;
}
